<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TODO管理システム</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
  <h1>新しいチームを追加</h1>
  </header>
  <body>
	<main class="task-center-main">
		<div>
			<p><span th:text="${message}" th:class="error"></span></p>
		</div>
		<div>
			<form method="post" th:action="@{/admin/add-team}" th:object="${teamForm}">
			  <table>
			    <tr>
			      <th>チーム名:</th>
			      <td>
			        <input type="text" th:field="*{teamName}" />
			        <span th:errors="*{teamName}" th:class="error"></span>
			      </td>
			    </tr>
			    <tr>
			      <th>チーム説明：</th>
			      <td>
			        <textarea th:field="*{description}" rows="5" cols="40"></textarea>
			        <span th:errors="*{description}" th:class="error"></span>
			      </td>
			    </tr>
			    <tr>
			      <td colspan="2"><button type="submit">追加</button></td>
			    </tr>
			  </table>
			</form>
		</div>
	</main>	
	<footer>
		<a th:href="@{/admin/teams/team-dashboard}">チーム一覧に戻る</a>
  	</footer>
</body>
</html>