<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TODO管理システム</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
		<h1>ログイン</h1>
	</header>
	<main class="center-main">
		<form th:action="@{/login}" method="post" th:object="${loginForm}">
			<input type="text" th:field="*{userId}" placeholder="ユーザID"><span th:errors="*{userId}" th:class="error"></span>
			<input type="password" th:field="*{password}" placeholder="パスワード"><span th:errors="*{password}" th:class="error"></span>
			<button>ログイン</button>
			<br> <span th:text="${message}" th:class="error"></span>
		</form>
		<div>
			<a href="/register">ユーザ新規登録</a>
		</div>
	</main>
</body>
</html>