<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TODO管理システム</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
		<h1>ユーザ登録</h1>
	</header>
	<main class="login-center-main">
		<div>
			<p><span th:text="${message}" th:class="error"></span></p>
		</div>
		<table>
			<form th:action="@{/regist}" method="post" th:object="${registerForm}">
				<tr>
					<th>ユーザID</th>
						<td>
							<input type="text" th:field="*{userId}" placeholder="メールアドレスで登録してください"><span th:errors="*{userId}" th:class="error"></span>
						</td>
				</tr>
				<tr>
					<th>ユーザ名</th>
					<td>
						<input type="text" th:field="*{userName}" placeholder="ユーザ名"><span th:errors="*{userName}" th:class="error"></span>
					</td>
				</tr>
				<tr>
					<th>チーム名</th>
					<td>
						<select id="teamId" name="teamId">
							<option th:each="item : ${teamMenu}"
								th:value="${item.key}"
								th:text="${item.value}"
							</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>パスワード</th>
					<td>
						<input type="password" th:field="*{password}" placeholder="パスワード"><span th:errors="*{password}" th:class="error"></span>
					</td>
				
				<tr>
					<th>パスワード（確認）</th>
					<td>
						<input type="password" th:field="*{checkPassword}" placeholder="パスワード（確認)"><span th:errors="*{checkPassword}" th:class="error"></span>
					</td>
				</tr>
				<tr>
					<td>
						<p><button>登録</button></p>
						
					</td>
					
				</tr>
			</form>
			</tr>
		</table>
		<a href="/login">ログイン画面に戻る</a>
	</main>
</body>
</html>