<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TODO管理システム</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
  <h1>[<span th:text="${account.teamName}"></span>]のTodoリスト</h1>
  </header>
  <body>
	<main>
		<div class="search">
			<h1>タスク検索</h1>
			<form th:action="@{/todo/search}" th:object="${todoSearchForm}" method="post">
				<label>キーワード: <input type="text" th:field="*{keyword}" /></label><br/>
				<label>担当者: <input type="text" th:field="*{userName}" /></label><br/>
				<label>期限: <input type="date" th:field="*{dueDateFrom}" /> ～ <input type="date" th:field="*{dueDateTo}" /></label><br/>
				<button class="search" type="submit">検索</button>
			</form>
		</div>
		<h2>
			<a th:href="@{/todo/add}">新規タスク登録</a>
		</h2>
	  <h1>📋 未完了のタスク</h1>
	  <div th:unless="${#lists.isEmpty(todos)}">
		  <table border="1" class="todo">
			<tr>
				<th>ステータス</th>
				<th>タスク内容</th>
				<th>チーム</th>
				<th>担当者</th>
				<th>終了予定日</th>
				<th>更新</th>
				<th>削除</th>
				<th>コメント</th>
			</tr>
			<tr th:each="todo : ${todos}" th:object="${todo}">
			  	<form method="post" th:action="@{/todo/update/{id}(id=*{id})}" >
					<td>
						<select id="status" name="status">
						    <option th:each="item : ${statusMenu}"
						            th:value="${item.key}"
						            th:text="${item.value}"
						            th:selected="${item.key == todo.status}">
						    </option>
						</select>
					</td>
				    <td>
						<textarea name="taskContent" th:text="*{taskContent}" rows="5" cols="40"></textarea>
					</td>
					<td th:text="*{teamName}" /></td>
					<td th:text="*{userName}" /></td>
				    <td>
						<input type="date" name="dueDate" th:value="*{dueDate}" />
					</td>
				    <td th:if="${account.userId == todo.userId}">
						<button>更新</button>
					</td>
					<td th:unless="${account.userId == todo.userId}">
					</td>
				</form>
				<td th:if="${account.userId == todo.userId}">
					<form method="post" th:action="@{/todo/delete/{id}(id=*{id})}" >
						<button>削除</button>
					</form>
				</td>
				<td th:unless="${account.userId == todo.userId}">
					</td>
				<td>
					<div class="comment-box">
				    	<div class="comment" th:each="comment : ${todo.comments}" th:object="${comment}">
				       		<div class="comment-user" th:text="*{userName}"></div>
				      		<div class="comment-date" th:text="*{#temporals.format(postDate, 'yyyy/MM/dd HH:mm:ss')}"></div>
				     		<div th:text="*{comment}"></div>
				    	</div>
				      	<div class="comment-form">
							<form method="POST" th:action="@{/todo/comment-add/{id}(id=*{id})}">
				       			<textarea name="comment" placeholder="コメントを入力..."></textarea>
				  				<button>送信</button>
							</form>
				        </div>
				    </div>
				</td>
		  	</tr>
		  </table>
	  	</div>
	  <div>
		  <h1>📋 完了のタスク</h1>
		  <div th:unless="${#lists.isEmpty(doneTodos)}">
			  <table border="1" class="todo">
				<tr>
					<th>ステータス</th>
					<th>タスク内容</th>
					<th>グループ</th>
					<th>担当者</th>
					<th>終了予定日</th>
					<th>更新</th>
					<th>削除</th>
				</tr>
				<tr th:each="todo : ${doneTodos}" >
					<form method="post" th:action="@{/todo/update/{id}(id=*{id})}" th:object="${todo}">
					    <td>
							<select id="status" name="status">
								<option th:each="item : ${statusMenu}"
									th:value="${item.key}"
									th:text="${item.value}"
									th:selected="${item.key == todo.status}">
								</option>
							</select>
						</td>
					    <td>
							<textarea name="taskContent" th:text="*{taskContent}" style="text-decoration:line-through" rows="5" cols="40"></textarea>

						</td>
						<td th:text="*{teamName}" /></td>
						<td th:text="*{userName}" /></td>
						<td>
							<input type="date" name="dueDate" th:value="*{dueDate}" />
						</td>
						<td th:if="${account.userId == todo.userId}">
							<button>更新</button>
						</td>
						<td th:unless="${account.userId == todo.userId}">
						</td>
					 </form>
					 <td th:if="${account.userId == todo.userId}">
					 	<form method="post" th:action="@{/todo/delete/{id}(id=*{id})}"  th:object="${todo}">
						 	<button>削除</button>
						</form>
					</td>
					<td th:unless="${account.userId == todo.userId}">
					</td>
				</tr>
			  </table>
		  	</div>
		</div>
	</main>	
	<footer>
  		<a href="/logout">ログアウト</a>
  	</footer>
</body>
</html>